@charset "utf-8";
html {
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
	background: #ffffff;
	font-size: 100%;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:active,
a:hover {
	outline: 0;
}

img {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}


/*全局定义样式*/

.layot {
	margin: 0 auto;
	width: 80%;
}

.blank {
	height: 90px;
}

