.grids .layout {
  max-width: 1366px;
}
.grids .layout .services-content {
  margin: 5em 0;
}
.grids .layout .services-content:first-child {
  margin-left: 0;
}
.grids .layout .services-content .services-list {
  width: 21.6%;
  display: block;
  margin-left: 3%;
}
.grids .layout .services-content .services-list img {
  max-width: 100%;
  margin-bottom: 23px;
}
.grids .layout .services-content .services-list h3 {
  color: #49cbcd;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 0 1.5em 0;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}
.grids .layout .services-content .services-list p {
  color: #5a5e68;
  line-height: 1.8em;
  font-size: 0.875em;
  padding: 0 0 1.5em 0;
  margin-top: 0;
  margin-bottom: 0;
}
.grids .layout .services-content .services-list .btn a {
  font: inherit;
  font-size: 0.9em;
  border-radius: 3px;
  padding: 7px 10px;
  background: #49cbcd;
  color: #fff;
  transition: 0.5s all;
}
.grids .layout .services-content .services-list .btn a:hover {
  background: #296e6f;
}
.portfolio .por-heading {
  padding: 2.4em 0;
}
.portfolio .por-heading h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 100%;
  font: inherit;
}
.portfolio .por-heading h3 a {
  font-size: 2.4em;
  color: #555658;
}
.portfolio img {
  width: 100%;
  border-radius: 2px;
}
.portfolio .gallery-bottom {
  margin: 2em 0;
}
.portfolio .gallery-bottom .por-button {
  margin-top: 1.3em;
  padding: 2em 0;
  font-size: 100%;
}
.portfolio .gallery-bottom .por-button a {
  padding: 0.6em 1.8em;
  font-size: 1.5em;
  background: #49cbcd;
  color: #fff;
  border-radius: 3px;
  transition: 0.5 all;
}
.portfolio .gallery-bottom .por-button a:hover {
  background: #296e6f;
}
.portfolio .gallery-warp {
  cursor: pointer;
  width: 30%;
  margin-right: 3.333%;
  float: left;
}
