@charset "utf-8";
/*日历模块样式*/
.md-date{margin: 11px auto 20px auto;width: 330px;height: 284px;padding: 0 1px;}
.md-date-top{height: 32px;overflow: hidden;border-bottom: 1px solid #a9cfec;}
.md-date-top li{position: relative;float: left;height: 20px;margin-right: 5px;background-color: #fff;border: 1px solid #cececf;}
.md-date-top input{height: 20px;margin-right: 19px;border: 0;}
.md-date-top a{position: relative;display: inline-block;width: 18px;height: 20px;font: 400 15px/15px consolas;}
.md-date-top i{position: absolute;top: 6px;height: 8px;width: 5px;overflow: hidden;color: #6a6a6a;}
.md-date-top s{position: relative;top: -4px;text-decoration: none;}
.md-date-top label{position: absolute;width: 18px;height: 20px;border-left: 1px solid #f5f6f7;right: 0;cursor: pointer;}
.md-date-top label:before{content: '';position: absolute;top: 9px;left: 5px;width: 0;height: 0;border-width: 4px;border-style: solid;border-color: transparent;border-top-color: #c3c4c4;}
.md-date-y input{width: 44px;}
.md-date-m s{color:#c3c4c4 ;}
.md-date-prev{border-right: 1px solid #f5f6f7;}
.md-date-prev i{left: 5px;}
.md-date-prev s{left: -1px;}
.md-date-next{border-left: 1px solid #f5f6f7;}
.md-date-next i{right: 5px;}
.md-date-next s{left: -6px;}
.md-date-m input{width: 21px;margin-right: 18px;}
.md-date-m a,
.md-date-m input{float: left;}
.md-date-m label{right: 19px;border-left-color: transparent;}
.md-date-mark input{width: 54px;}
.md-date-today{margin-right: 0 !important;}
.md-date-today button{line-height: 20px;padding: 0 6px;background: transparent;border: 0;}
.md-date-table{position: relative;border: 0;cursor: default;}
.md-date-table td{width: 47.14285px;padding: 0;text-align: center;}
.md-date-table thead td{height: 30px;border-width: 0 0 1px 0;}
.md-date-table tbody td{height: 41.8px;border: 0;}
.md-date-table span{display: block;}
.md-date-table div{width: 100%;height: 100%;border: 1px solid transparent;}
.md-date-table div:hover{border-color: #f4c11c;}
.md-date-limit td{height: 10px !important;}
.md-date .weekend{color: #c9141d;}
.md-date .sterm{color: #c9141d;}
.md-date .festival{color: #c9141d;}
.md-date-body{position: absolute;left: -1px;}
